# 9.1 Python List

## List

In [ ]:
myList = ["apple", "banana", "cherry"]
print(myList)
print(type(myList))

## Duplicates

In [ ]:
myList = ["apple", "banana", "cherry", "apple", "cherry"]
print(myList)

## List Length

In [ ]:
myList = ["apple", "banana", "cherry", "apple", "cherry"]
print(len(myList))

## List Items - Data Types

In [ ]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

In [ ]:
# Different data types
list1 = ["abc", 34, True, 40, "male", 304.039, 3+1j]
print(list1)

In [ ]:
## The list( ) constructor

In [ ]:
mylist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(mylist)

# 9.2 Python - Access List Items

## Access items

In [ ]:
myList = ["apple", "banana", "cherry"]
str_var = myList[2]
print(myList[1])
print(str_var)

## Negative Indexing

In [ ]:
myList = ["apple", "banana", "cherry"]
print(myList[-2])

## Range of Indexes

In [ ]:
myList = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(myList[2:5])

In [ ]:
# Leaving out the first index
myList = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(myList[:4])

In [ ]:
# Leaving out the last index
myList = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(myList[2:])

In [ ]:
myList = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(myList[-4:-1])

In [ ]:
myList = ["apple", "banana", "cherry"]
if "apple" in myList:
    print("Yes, 'apple' is in the fruits list")

# 9.3 Python - Cambiar elementos de una lista

## Cambiar el valor de un elemento

In [ ]:
myList = ["apple", "banana", "cherry"]
myList[1] = "blackcurrant"
print(myList)

## Cambiar el valor de un rango de elementos

In [ ]:
# Two values replace two index values
myList = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
myList[1:3] = ["blackcurrant", "watermelon"]
print(myList)

In [ ]:
# Two values replace one index value
myList = ["apple", "banana", "cherry"]
myList[1:2] = ["blackcurrant", "watermelon"]
print(myList)

In [ ]:
# One value replaces multiple indexes
myList = ["apple", "banana", "cherry"]
myList[1:3] = ["watermelon"]
print(myList)

## Insertar elementos

In [ ]:
myList = ["apple", "banana", "cherry"]
myList.insert(2, "watermelon")
print(myList)

# 9.4 Python - Agregar elementos a una lista

## Agregar elementos al final

In [ ]:
myList = ["apple", "banana", "cherry"]
myList.append("orange")
print(myList)

## Insertar elementos

In [ ]:
myList = ["apple", "banana", "cherry"]
myList.insert(1, "orange")
print(myList)

## Extender una lista

In [ ]:
myList = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
myList.extend(tropical)
print(myList)

## AÃ±adir a la lista cualquier iterable

In [ ]:
# Los objetos iterables son: otra lista, tuplas, sets, diccionarios
myList = ["apple", "banana", "cherry"]
myTuple = ("kiwi", "orange")
myList.extend(myTuple)
print(myList)

# 9.5 Python - Remover elementos de una lista

## Remover un elemento por su nombre

In [ ]:
myList = ["apple", "banana", "cherry"]
myList.remove("banana")
print(myList)

## Remover un elemento por su indice

In [ ]:
myList = ["apple", "banana", "cherry"]
myList.pop(1)
print(myList)

In [ ]:
myList = ["apple", "banana", "cherry"]
del myList[0]
print(myList)

## Remover el ultimo elemento

In [ ]:
myList = ["apple", "banana", "cherry"]
myList.pop()
print(myList)

## Eliminar toda la lista

In [ ]:
myList = ["apple", "banana", "cherry"]
del myList
#print(myList)

## Limpiar la lista

In [ ]:
myList = ["apple", "banana", "cherry"]
myList.clear()
print(myList)

# 9.6 Ordenar una lista

# Ordenar una lista de forma alfanumerica

In [ ]:
# Alphabetically
myList = ["orange", "mango", "kiwi", "pineapple", "banana"]
myList.sort()
print(myList)

In [ ]:
# Numerically
myList = [100, 50, 65, 82, 23]
myList.sort()
print(myList)

In [ ]:
myList = [100, 50, "mango", "kiwi", "pineapple", 65, 82, 23]
myList.sort()
print(myList)

## Ordenar de forma descendente

In [ ]:
# Alphabetically
myList = ["orange", "mango", "kiwi", "pineapple", "banana"]
myList.sort(reverse = True)
print(myList)

In [ ]:
# Numerically
myList = [100, 50, 65, 82, 23]
myList.sort(reverse = True)
print(myList)

## Ordenar una lista de strings (case in/sensitive)

In [ ]:
# sort is case sensitive
myList = ["banana", "Orange", "Kiwi", "cherry"]
myList.sort()
print(myList)

In [ ]:
# case insensitive
myList = ["banana", "Orange", "Kiwi", "cherry"]
myList.sort(key = str.lower)
print(myList)

## Voltear una lista

In [ ]:
myList = ["banana", "Orange", "Kiwi", "cherry"]
myList.reverse()
print(myList)

# 9.7 Copiar una lista

## Usando el mÃ©todo copy

In [ ]:
thislist = ["apple", "banana", "cherry"]
myList = thislist.copy()
print(myList)

## Usando un casteo

In [ ]:
thislist = ["apple", "banana", "cherry"]
myList = list(thislist)
print(myList)

## Solo asignando

In [ ]:
thislist = ["apple", "banana", "cherry"]
myList = thislist
print(myList)

# 9.8 Unir una lista

## Unir una lista con el operador +

In [ ]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

In [ ]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list1 += list2
print(list1)

## Unir una lista con un for y un append

In [ ]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

## Unir una lista con el mÃ©todo extend( )

In [ ]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)